.page-container{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}