.header-bar{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 50px;
    background-color: white;
    border: 1px solid #c8ced3;
}

.header-bar-item{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
}

.header-login{
    margin-left: auto;
    margin-right: 28px;
    text-decoration: none;
    color: black;
}

.header-login:hover{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header-logout{
    display: flex;
    margin-left: auto;

    align-items: center;
}

.header-email{
    padding-right: 4px;
    font-size: 0.9rem;
}

.header-title{
    padding-left: 4px;
}

.side-bar{
    height: 100vmax;
    background-color: #2f353a;
}

.side-bar-item:hover{
    background-color: #20a8d8;
}

.side-bar-link{
    color: white;
}

.side-bar-link:hover{
    color: white;
}

.side-bar-container{
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}